@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

body{
  background-color:ghostwhite;
}

a{
  color: black;
  text-decoration: none;
}

/*Navbar Starts*/

.navbar{
  position: fixed;
  left: 0%;
  top: 0%;
  width:100%;
  padding: 20px 9%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar .logo{
  font-size: 30px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
}

.navbar ul li{
  list-style: none;
  margin-left: 35px;
}

.navbar ul li a{
  font-size: 15px;
  font-weight: 600;
  transition: .5s;
}

.navbar ul li:hover a,
.navbar ul li.active a{
  color:rgb(38, 170, 69);
}


.menu-button{
    display: none;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(248, 248, 255, 0.389);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
}

.sidebar li{
    width: 100%;
    padding: 10px;
}

.sidebar a{
    width: 100%;
}

@media(max-width: 940px){
    .hide{
        display: none;
    }
    .menu-button{
        display: block;
    }
}

/*Navbar Ends*/


/*Home page Starts*/

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: black;
}

.home-info h1{
  font-size: 50px;
}

.home-info h2{
  font-size: 30px;
  margin-top: -10px;
}

.home-info .sci{
  margin-left: -8px;
}

.home-info .sci a{
  display: inline-flex;
  padding: 8px;
  border: 2px solid rgb(47, 173, 47);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(47, 173, 47);
  margin: 0 8px;
  transition: .5s;
}

.home-info .sci a:hover{
  background: rgb(47, 173, 47);
  color:ghostwhite;
  box-shadow: 0 0 10px rgb(47, 173, 47) ;
}

img{
  height: 400px;
  border-radius: 50%;
  margin-right:30px ;
  margin-left:150px;
  margin-top: 50px;
}


@media(max-width: 850px){
    .home {
    flex-direction: column;
    padding: 100px 7% 0;
    text-align: center;
  }

  .home img {
    height: 300px;
    margin: 20px auto;
  }

  .home-info h1 {
    font-size: 40px;
  }

  .home-info h2 {
    font-size: 25px;
  }
}

/* Home page ends*/


/* About Section starts*/

.about{
    background-color:whitesmoke;
    border-radius: 5%;
    padding-bottom: 30px;
}

.about h2{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.about p{
  font-size: 18px;
  margin: 10px 0 25px ;
  color: black;
  padding: 40px 200px 10px 50%;
  text-align: justify;
}

.about img{
  height: 450px;
  border-radius: 5%;
  float: left;
  margin-top: 20px;
  margin-left: 250px;
}

.btn{
  display: inline-block;
  padding: 10px 30px;
  background: rgb(47, 173, 47);
  border: 2px solid rgb(47, 173, 47);
  border-radius: 40px;
  box-shadow: 0 0 10px;
  font-size: 16px;
  color: ghostwhite;
  font-weight: 600;
  transition: .5s;
}

.btn:hover{
  background: transparent;
  color:rgb(47, 173, 47) ;
  box-shadow: none;
}

.about .btn-sci{
  display: flex;
  justify-content: center;
  padding-left: 190px;
}


@media (max-width: 1200px){
    .about img{
        float: none;
       display: block;
        margin: 0 auto 20px;
        height: 300px;
    }
    .about p{
        padding: 20px 30px;
    }
    .about .btn-sci {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    margin-top: 20px;

}
}

/* About Section Ends*/

/*Skill section starts*/

.skills{
    margin-top: 30px;
}

.skills h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
}


.skills .skill-images img{
    height:300px;
    border-radius: 10%;
    transition: .3s;
}

.skills .skill-images img:hover{
    transform: scale(1.03);
}

@media (max-width: 965px){
    .skills .skill-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-right: 100px;
  }

  .skill-images img {
    max-width: 200px;
    height:200px;
  }
}


/*Skills ends*/


/*Education starts*/

.education {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btech {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 20px 0;
  gap: 30px;
  flex-wrap: wrap;
}

.btech img {
  width: 250px;
  height: 250px;
  margin-left: 0;
  margin-top: 10px;
}

.content {
  flex: 1;
}

.content h3, .content h4, .content p {
  margin: 5px 0;
  text-align: left;
}

/*Education ends*/

/*Internship Starts*/


.internships {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.intern {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  width: 100%;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 20px 0;
  gap: 30px;
  flex-wrap: wrap;
  transition: .3s;
}

.intern:hover{
    transform: scale(1.03);
}

.content img {
  width: 150px;
  height: 150px;
  margin-left: 0;
  margin-top: 10px;
}

.content {
  flex: 1;
}

.content h3, .content h4, .content p {
  margin: 5px 0;
  text-align: left;
}

/*Internship Ends*/

/*Contact Starts*/

.contact{
    margin-top: 20px;
    margin-bottom: 80px;
}

.contact h2{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.contact .button{
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

/*Contact Ends*/